$primary-background-color: #F5F5F5;
$primary-text-color: #525252;
$primary-heading-color: #125E87;
$primary-link-color: #125E87;
$primary-link-color-hover: #2887BB;

$secondary-link-color: #a1a1a1;
$secondary-link-color-hover: #2887BB;

$header-background-color: #143850;
$header-text-color: darken(#F5F5F5,20);
$header-link-color: #fff;

$footer-background-color: #06283E;
$footer-text-color: darken(#F5F5F5,20);
$footer-link-color: #F5F5F5;

$border-color: #d1d1d1;

$alert-color: gold;

$form-background: #f9f9f9;
$form-text: lighten($primary-text-color, 20);
$form-background-focus: #fff;
$form-text-focus: $primary-text-color;
$form-button-color: #143850;
