$max-width: 960px;

$initialize-color: $primary-text-color;
$initialize-font-family: sans-serif;

$initialize-heading-color: $primary-heading-color;
$initialize-heading-font-family: 'Droid Serif', serif;

$initialize-heading-margins: 1em 0 0.5em;

$initialize-block-margins: 0.75em 0;