table {
	border: 1px solid $border-color;
	border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 2em;
    table-layout: fixed;
    width: 100%;

	th {
		font-weight: bold;
	}

    th, td {
        border: 1px solid $border-color;
    	border-width: 0 1px 1px 0;
    	padding: 0.4em;
    	text-align: left;
    }
}

pre {
	border: 1px dotted $border-color;
	padding: 1em;
}

abbr, acronym {
    border-bottom: 1px dotted $border-color;
    cursor: help;
}

hr {
    border-top: 1px solid $border-color;
}

blockquote {
	border-left: 0.3em solid $border-color;
	font-family: 'Droid Serif', serif;
	margin: 2em 0;
	padding-left: 2em;
}

.browserupgrade {
    background: $alert-color;
    color: $primary-text-color;
    font-family: Helvetica, sans-serif;
    padding: 1em;
    text-align: center;
}

.browserupgrade a {
    color: #525252;
}

.says, .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
 }

.site-content {
	display: flex;
	margin: 0 auto;
	max-width: $max-width;
	padding: 2em 1em 1em;

	a {
		color: $primary-link-color;
		text-decoration: none;

		&:hover {
			color: $primary-link-color-hover;
			text-decoration: underline;
		}
	}
}

.site-main {
    overflow: hidden;
	width: 100%;
}