.entry-title {
	color: $primary-link-color;
	font-size: 2em;
	margin-top: 0;

	a:hover {
		text-decoration: none;
	}
}

.entry-meta {
	a {
		color: $secondary-link-color;

		&:hover {
			color: $secondary-link-color-hover;
		}
	}
}

.entry-content {
	font-family: 'Droid Serif', serif;
	font-size: 1.2em;
	line-height: 1.8;
    word-wrap: break-word;
    
	img {
		max-width: 100%;
		height: auto;
	}
}

.entry-image {
	margin-bottom: 1em;
}

.wp-post-image {
	height: auto;
	width: 100%;
}