input[type="text"],
input[type="date"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
textarea {
	background: $form-background;
	border: 1px solid $border-color;
	color: $form-text;
	padding: 0.5em;
	width: 100%;

	&:focus {
		background: $form-background-focus;
		color: $form-text-focus;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.4em;
}

button,  input[type="button"], input[type="submit"] {
	padding: 0.5em;
}