.site-header {
	background: $header-background-color;
	color: $header-text-color;

	&-content {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $max-width;
		padding: 1em;
	}
}

.site-branding {
	display: inline-block;

	.site-title {
		font-family: 'Droid Serif', serif;
		font-size: 1.5em;
		font-weight: bold;
		margin: 0;

		a {
			color: $header-link-color;
			text-decoration: none;
		}
	}

	.site-description {
		color: $header-text-color;
		font-family: 'Droid Serif', serif;
		font-size: 1em;
		margin: 0;
	}
}

.site-navigation {
	display: none;

	@include breakpoint('lg') {
		display: block;
	}

	.nav-menu {
		font-family: 'Droid Serif', serif;
		font-size: 1.25em;
		margin: 0.5em 0; 

		.menu-item {
			display: inline-block;
			margin: 0 0 0 1em;

			a {
				color: $header-link-color;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.navigation-toggle {
	background: transparent;
	border: 1px solid $header-link-color;
	color: $header-link-color;
	height: 40px;
    overflow: hidden;
    padding: 10px;
	width: 40px;

	@include breakpoint('lg') {
		display: none;
	}

	&:before {
		content: "\f0c9";
		display: block;
		font-family: FontAwesome;
		margin-bottom: 1em;
		text-indent: normal;
	}
}