.site-header {
	background: $header-background-color;
	color: $header-text-color;

	a {
		color: $header-link-color;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $max-width;
		padding: 1em;
	}
}

.site-branding {
	display: inline-block;

	.site-title {
		margin: 0;
	}

	.site-description {
		margin: 0;
	}
}

.site-navigation {
	display: inline-block;

	.nav-menu {
		font-family: 'Droid Serif', serif;
		font-size: 1.25em;
		margin: 0.5em; 
		padding: 0;

		.menu-item {
			display: inline-block;
			margin: 0 0.3em;

			a {
				text-decoration: none;
			}
		}
	}
}

.navigation-toggle {
	background: transparent;
	border: 1px solid $header-link-color;
	color: $header-link-color;
	height: 40px;
    overflow: hidden;
    padding: 10px;
	width: 40px;

	&:before {
		content: "\f0c9";
		display: block;
		font-family: FontAwesome;
		margin-bottom: 1em;
		text-indent: normal;
	}
}